nav {
  border-bottom: solid 1px #ddd;
}
nav a {
  color: #222 !important;
}
.navbar-nav i {
  font-size:14px !important;
}
.current_user_option {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.card-text {
  height: 60px;
  overflow: scroll;
}
.listTtl {
  transform: translateY(34px);
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mapComment {
  margin-top: 20px;
}

.navBtn {
  border: none;
}
.navBtn i {
  font-size: 20px;
}
.title.cook_name {
  color: #222;
}

/* user icon 用 */
.photo-container {
  position: relative;
}

.photo-container img {
  max-width: none;
  display: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }  
}
@media (max-width: 991px) {
  .navbar-nav {
    display: inline-block;
  }
  .nav-item {
    display: inline-block;
  }
  .dropdown-menu {
    position: absolute !important;
  }
  .navbar-collapse {
    flex-basis: auto;
    flex-grow: 0;
  }
  .nav-item.dropdown {
    display: none;
  }
  .navbar-nav .nav-link:not(.btn) {
    padding: .3rem .4rem !important;
  }
}